@import 'fonts-include/mulish';
@import 'fonts-include/oswald';

:root {
	--black100: #35363D;
	--black80: #54555F;
	--white100: #FBFAF9;
	--white80: #E7E4E2;
	--beldozer100: #F9A038;
	--beldozer80: #FFB35A;
	--beldozerLin: linear-gradient(92.42deg, #F9A038 51.03%, #FA9724 51.04%);;
	--gray100: #F5F3F1;
	--sany100: #EA0000;
	--sany80: #FF5050;;
	--sanyLin: linear-gradient(92.42deg, #EA0000 51.03%, #D90101 51.04%);;
	--mammut100:  #FFD504;
	--mammut80: #FFDD34;;
	--mammutLin: linear-gradient(92.42deg, #FFD504 51.03%, #FAD000 51.04%);;
	--socma100: #00146C;
	--socma80: #01439B;
	--socmaLin: linear-gradient(92.42deg, #001368 51.03%, #001055 51.04%);
}

$black100: var(--black100);
$black80: var(--black80);
$white100: var(--white100);
$white80: var(--white80);
$beldozer100: var(--beldozer100);
$beldozer80: var(--beldozer80);
$beldozerLin: var(--beldozerLin);
$gray100: var(--gray100);
$sany100: var(--sany100);
$sany80: var(--sany80);
$sanyLin: var(--sanyLin);
$mammut100: var(--mammut100);
$mammut80: var(--mammut80);
$mammutLin: var(--mammutLin);
$socma100: var(--socma100);
$socma80: var(--socma80);
$socmaLin: var(--socmaLin);

@import 'vars';





*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



html{
	scroll-behavior: smooth;
	
	font-family: 'Mulish';
}


body{
	background-color: $white100;
}


a{
	text-decoration: none;
	outline: none;
}

button{
	font-family: inherit;
	border: none;
	background: transparent;
	outline: none;
	cursor: pointer;
}

input, textarea{
	font-family: inherit;
	border: none;
	background: #fff;
	outline: none;
}

address{
	font-style: normal;
}

ul{
	list-style: none;
}


.section{
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 40px 30px;

	@media (max-width: 1280px){
		padding: 32px 20px;
	}
}

.section__inner{
	width: 100%;
	max-width: 1300px;
}


.page-content{
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main{
	flex-grow: 1;
}


.beldozer-hover{
    &:hover{
        color: $beldozer100 !important;
    }
}

.sany-hover{
    &:hover{
        color: $sany100 !important;
    }
}

.mammut-hover{
    &:hover{
        color: $mammut100 !important;
    }
}


.socma-hover{
    &:hover{
        color: $socma100 !important;
    }
}


.c-white100{
	color: $white100 !important;
}
.c-white80{
	color: $white80 !important;
}


.c-black100{
	color: $black100 !important;
}

.c-black80{
	color: $black80 !important;
}


.h1{
	font-family: 'Oswald';
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 135%;
	white-space: pre-line;

	@media (max-width: 1024px){
		font-size: 40px;

		line-height: 1.2;
	}

	@media (max-width: 350px){
		font-size: 36px;
	}
}



.h2{
	font-family: 'Oswald';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 135%;
	color: #35363D;
	white-space: pre-line;

	@media (max-width: 1024px){
		font-size: 32px;

		line-height: 1.25;
	}

	@media (max-width: 350px){
		font-size: 28px;
	}
}


.h4{	
	font-weight: 800;
	font-size: 21px;
	line-height: 1.238;

	/* Black100 */
	color: #35363D;
	white-space: pre-line;

	@media (max-width: 1024px){
		font-size: 20px;
	}
}

.h5{
	

	font-weight: 700;
	font-size: 18px;
	line-height: 135%;

	color: $black100;

	white-space: pre-line;

	@media (max-width: 1024px){
		font-size: 17px;
	}
}

.link-md{
	font-weight: 500;
	font-size: 16px;
	line-height: 1.25;
	color: $black80;
	transition: 300ms;
}

.link-bold{
	
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 135%;
	text-decoration-line: underline;
	color: #54555F;
	transition: 300ms;

	&:hover{
		color: $beldozer100;
	}
}


.text-md{
	
	font-weight: 500;
	font-size: 18px;
	line-height: 135%;
	white-space: pre-line;

	@media (max-width: 1024px){
		font-size: 17px;
	}
	
}



.text{

	font-weight: 400;
	font-size: 15px;
	line-height: 135%;
	color: #54555F;
	white-space: pre-line;

	@media (max-width: 1024px){
		font-size: 14px;
	}
}

.text-sm{
	
	font-weight: 300;
	font-size: 14px;
	line-height: 135%;
	color: #54555F;

	@media (max-width: 1024px){
		font-size: 13px;
	}
}


.content-title{
	margin-bottom: 40px;
	
	@media(max-width: 1024px){
		margin-bottom: 32px;
	}
}

.title-underline{
	display: inline-block;


	position: relative;

	&::before{
		 content: "";
		 position: absolute;
		 bottom: -16px;
		 right: 0;
		 width: 100vw;
		 height: 1px;
		 background-color: $gray100;
	}
}



.beldozer-btn{
	
	
	color: #35363D;
	
	background: $beldozerLin;
	

}
.sany-btn{
	
	
	color: $white100;
	background: $sanyLin;
	

}


.mammut-btn{
	
	
	color: $black100;
	background: $mammutLin
	

}



.btn{
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 800;
	font-size: 21px;
	padding: 19px 24px;
	display: inline-block;
	background-size: 200% 100%;
	background-position: 50% 50%;
	text-align: center;
	transition: 300ms;
	border-radius: 2px;

	&:hover{
		background-position: 0% 100% !important;
	}

	@media (max-width: 420px){
		width: 100%;
	}

	@media (max-width: 350px){
		font-size: 18px;
	}
}


.px-smd-0{
	@media (max-width: 768px){
		padding-left: 0;
		padding-right: 0;
	}
}




.prop-img-1-1{
	width: 100%;
}
.prop-img-1-1__inner{
	width: 100%;
	padding-bottom: 100%;
	position: relative;
	img{
		 position: absolute;
		 width: 100%;
		 max-width: 100%;
		 height: 100%;
		 object-fit: cover;
		 object-position: center;
	}
}

.article-logotype{
	margin-top: 24px;
	
	display: flex;
	align-items: flex-start;

	a{
		border: 1px solid #F5F3F1;
		padding: 24px;
	}
	@media (max-width: 480px){
		justify-content: center;
	}
	img{
		max-width: 100%;
	}
}

.small-img-for-artcile{
    width: 100%;
    max-width: 100%;
    min-height: 340px;
    object-fit: cover;
    object-position: center;
}


.section__title-block{
	display: flex;
    justify-content: space-between;
	align-items: flex-end;
	width: 100%;
	margin-bottom: 40px;
	@media (max-width: 1024px){
		margin-bottom: 32px;
	}
}
.section__to-page-link{
	display: flex;
    align-items: center;

	
    img{
        flex-shrink: 0;
        margin-left: 8px;
    }

    &:hover{
        text-decoration: underline;
    }

	

    @media (max-width: 640px){
        display: none;
    }
}

.section__mob-link-container{
    display: none;

    @media (max-width: 640px){
        display: flex;
        padding-top: 24px;
        justify-content: center;

        a{
            display: flex;
        }
    }
}





@import 'units/grid/g-container';

@import 'units/hamburger/hamburger';
@import 'units/header/header';
@import 'units/footer/footer';
@import 'units/mob-menu/mob-menu';
@import 'units/easyModal/easyModal';
@import 'units/modals/modals';
@import 'units/swiper/swiper';
@import 'units/sliders/sliders';
@import 'units/catalog/catalog';
@import 'units/page/index/i-slider';
@import 'units/offsets/offsets';
@import 'units/page/index/section-form';

@import 'units/news/news';