.category-description{
    display: grid;
    grid-gap: 32px 24px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;

    @media (max-width: 768px){
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}

.category-description__brands{}
.category-description__text{}
.category-description__img{
    grid-column: 2 / -1;
    grid-row: 1 / -1;
    @media (max-width: 768px){
        grid-column: unset;
        grid-row: unset;
    }
    img{
        max-width: 100%;
    }
}