.hamburger{
    width: 64px;
    height: 64px;
    display: none;
    justify-content: center;
    align-items: center;    
    border: 1px solid rgba(231, 228, 226, 0.2);
    border-radius: 2px;
    margin-left: 16px;

    path{
        transition: 300ms;

    }

    cursor: pointer;

    &:hover{
        path{
            fill: $beldozer100;
        }
    }
    @media (max-width: 1280px){
        display: flex;
    }

    @media (max-width: 350px){
        width: 48px;
        height: 48px;
    }

    position: relative;

    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 2px;
        background: linear-gradient(78.55deg, rgba(249, 160, 56, 0.2) 0%, rgba(249, 160, 56, 0) 51.04%);
        border: 1px solid rgba(231, 228, 226, 0.2);
        transition: 300ms;
        opacity: 0;
    }
}

.hamburger.open{
    path{
        fill: $beldozer100;
    }

    &::before{
        opacity: 1;
    }
}
