.hamburger{
    width: 64px;
    height: 64px;
    display: none;
    justify-content: center;
    align-items: center;    
    border: 1px solid rgba(231, 228, 226, 0.2);
    border-radius: 2px;
    margin-left: 16px;

    path{
        transition: 300ms;

    }

    cursor: pointer;

    &:hover{
        path{
            fill: $beldozer100;
        }
    }
    @media (max-width: 1280px){
        display: flex;
    }

    @media (max-width: 350px){
        width: 48px;
        height: 48px;
    }
}