.header{
    width: 100%;
    padding: 0px 30px;
    display: flex;
    justify-content: center;
    height: 120px;
    background-color: $black100;


    @media (max-width: 1280px){
        padding: 0px 20px;   
    }
}

.header__logo{
    @media (max-width: 1280px){
        img{
            width: 150px;
            height: 30px;
        }
        
    }
}



.header__inner{
    width: 100%;
    max-width: 1300px;
    display: flex;
    align-items: center;   
}

.header__left{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 16px;

    flex-grow: 1;
}

.mmn{
    margin-left: 56px;
    display: flex;
    align-items: center;

    @media (max-width: 1280px){
        display: none;
    }
}

.mmenu-brands{
    display: flex;
}
.mmenu-brands__item{
    margin: 0 12px;

    &:first-of-type{
        margin-left: 0;
    }
    &:last-of-type{
        margin-right: 0;
    }
}
.mmenu-brands__link{
    font-family: 'Mulish';
    font-weight: 800;
    font-size: 21px;
    color: $white100;
    transition: 300ms;
}





.mmenu-o-links{
    margin-left: 40px;
    display: flex;
    align-items: center;
}

.mmenu-o-links__item{
    margin: 0 20px;
    &:first-of-type{
        margin-left: 0;
    }
    &:last-of-type{
        margin-right: 0;
    }
}

.mmenu-o-links__link{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    white-space: pre-line;
    color: $white80;

    transition: 300ms;


    &:hover{
        color: $beldozer100;
    }
}

.show-contacts{
    display: flex;
    justify-content: center;
    align-items: center;    
    border: 1px solid rgba(231, 228, 226, 0.2);
    border-radius: 2px;
    width: 88px;
    height: 88px;
    cursor: pointer;

    @media (max-width: 1280px){
        width: 64px;
        height: 64px;
    }
    @media (max-width: 768px){
        svg{
            width: 16px;
            height: 16px;
        }
    }
    @media (max-width: 350px){
        width: 48px;
        height: 48px;
    }

    path{
        transition: 300ms;

    }

    &:hover{
        path{
            fill: $beldozer100;
        }
    }
}


